body{
    font-family: sans-serif;
    background-color: rgb(38, 20, 43);
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    position: relative;
    width :200px;
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background-color: rgba(75, 47, 83, 0.5);
    color: white;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(69, 106, 165);
    color: rgb(6, 45, 108);
    transition: 0.2s;
}

.text{
    margin-top: 150px;
    margin-bottom: 20px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(52, 92, 107);
}